body{font-family:Arial, sans-serif;}

.clear {clear:both;}

.movimg{position: absolute;
    margin-right: 20px;
    margin-bottom: 20px;
}

.floatimg{float: right;
    margin-right: 20px;
    margin-bottom: 20px;
}
.img1{width: 250px;
}

.img1 img{
    width: 100%;
    height: auto;
}
