body{
    font-family:'Times New Roman', Times, serif;
    background-color:#0f172a;
    color: white;
}
.wrapper {
   margin-top: 60px;
   min-height: calc(100vh - 60px);
   padding-bottom: 60px;
   box-sizing: border-box;
   padding: 20px;
   display: flex;
}
header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width:100%;
    top:0px;
    position: fixed;
    padding: 0px 0px 0px 0px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
    margin-left: -6px;
    justify-content: space-between;
  }
header h1{
    margin-top:4px;
    font-size: 26px;
}

header input{
    padding: 8px 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    outline: none;
    width: 250px;
    height: 30px;
    position: right;
}
.navbar{
    display: flex;
    flex-direction: row;
    width:100%;
    top:45px;
    position: fixed;
    padding: 5px 0px 5px 0px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
    margin-left: -6px;
}
nav a{
    flex-direction: row;
    margin-right:15px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.2s;
    font-size: 15px;
  
}
nav a:hover{
    transition-duration: 1;
    color: grey;
}
.active{
    transition: 2;
    color: #c7c7c771;
}

h1,h2,h3{
    color: white;

}
.spacing {
    margin-top: 0px;
}
footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width:100%;
    bottom:0px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
    margin-left: -6px;
}

@media (max-width: 400px) {
    .navbar{
        flex-direction: column;
    }
}