
body{
    font-family:'Times New Roman', Times, serif;
    background-color:#0f172a;
    color: white;
}
header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width:100%;
    top:0px;
    position: fixed;
    padding: 0px 0px 0px 0px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
    margin-left: -6px;
  }
header h1{
    margin-top:0;
    font-size: 26px;
}

header input{
    padding: 8px 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    outline: none;
    width: 250px;
    height: 30px;
}
.navbar{
    display: flex;
    flex-direction: row;
    width:100%;
    top:60px;
    position: fixed;
    padding: 5px 0px 5px 0px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
    margin-left: -10px;
}
nav a{
    flex-direction: row;
    margin: 10px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.2s;
  
}
nav a:hover{
    transition-duration: 1;
    color: grey;
}

h1,h2,h3{
    color: white;

}
.spacing {
    margin-top: 300px;
}
footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width:100%;
    bottom:0px;
    padding: 0px 0px 0px 0px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
    margin-left: -6px;
}
