body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('Nasa.jpg') no-repeat center center fixed;
    font-size: 22px;
    color: white;
}

h1 {
    color: white;
}
nav a{text-decoration: none;}
nav a.active {font-weight: bold; 
color : red}


main {
    color: red;
    background-image: url(256px-WorldMap.png) ;
}
main[index]{    background-image: url(256px-WorldMap.png) ;}

span {
    color: rgb(212, 68, 68);
}

ul {
    
    list-style-type:none ;
    padding-left: none;
    color: red;
}
ul li {background: url(custom-bullet-transparent.png) no-repeat left center;
background-position: left;
padding-left: 25px;}

p {
    color: red;
}

